Murphy System/archive/legacy_workspace/workflows/monitor_v1/MONITOR_v1_Collect_Metrics.json
{
  "name": "MONITOR_v1_Collect_Metrics",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) as total_executions,\n  COUNT(CASE WHEN status = 'success' THEN 1 END) as successful,\n  COUNT(CASE WHEN status = 'failed' THEN 1 END) as failed,\n  AVG(EXTRACT(EPOCH FROM (completed_at - started_at)) * 1000) as avg_duration_ms,\n  MIN(EXTRACT(EPOCH FROM (completed_at - started_at)) * 1000) as min_duration_ms,\n  MAX(EXTRACT(EPOCH FROM (completed_at - started_at)) * 1000) as max_duration_ms\nFROM workflow_executions\nWHERE started_at >= NOW() - INTERVAL '5 minutes'"
      },
      "id": "get-workflow-stats",
      "name": "Get Workflow Statistics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) as total_leads,\n  COUNT(CASE WHEN status = 'new' THEN 1 END) as new_leads,\n  COUNT(CASE WHEN status = 'enriched' THEN 1 END) as enriched_leads,\n  COUNT(CASE WHEN status = 'routed' THEN 1 END) as routed_leads\nFROM leads\nWHERE created_at >= NOW() - INTERVAL '5 minutes'"
      },
      "id": "get-lead-stats",
      "name": "Get Lead Statistics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [450, 450],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) as total_docs,\n  COUNT(CASE WHEN processing_status = 'extracting' THEN 1 END) as processing_docs,\n  COUNT(CASE WHEN validation_score >= 70 THEN 1 END) as valid_docs,\n  COUNT(CASE WHEN validation_score < 70 THEN 1 END) as invalid_docs\nFROM documents\nWHERE created_at >= NOW() - INTERVAL '5 minutes'"
      },
      "id": "get-doc-stats",
      "name": "Get Document Statistics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [450, 600],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) as total_tasks,\n  COUNT(CASE WHEN status = 'pending' THEN 1 END) as pending_tasks,\n  COUNT(CASE WHEN status = 'in_progress' THEN 1 END) as in_progress_tasks,\n  COUNT(CASE WHEN status = 'completed' THEN 1 END) as completed_tasks,\n  COUNT(CASE WHEN status = 'overdue' THEN 1 END) as overdue_tasks\nFROM tasks\nWHERE created_at >= NOW() - INTERVAL '5 minutes'"
      },
      "id": "get-task-stats",
      "name": "Get Task Statistics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [450, 750],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) as dlq_count,\n  COUNT(CASE WHEN retry_attempt < max_retry_attempts THEN 1 END) as retryable_count,\n  COUNT(CASE WHEN retry_attempt >= max_retry_attempts THEN 1 END) as failed_count\nFROM dead_letter_queue\nWHERE created_at >= NOW() - INTERVAL '5 minutes'"
      },
      "id": "get-dlq-stats",
      "name": "Get DLQ Statistics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [450, 900],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  disk_usage_percent,\n  active_connections as db_connections,\n  (SELECT COUNT(*) FROM workflow_executions WHERE status = 'running') as active_executions\nFROM (\n  SELECT\n    (pg_database_size('automation_platform')::float / (SELECT sum(pg_database_size(d.datname))::float FROM pg_database d WHERE d.datistemplate = false) * 100) as disk_usage_percent,\n    (SELECT count(*) FROM pg_stat_activity WHERE datname = 'automation_platform') as active_connections\n) t\nLIMIT 1"
      },
      "id": "get-system-stats",
      "name": "Get System Statistics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge all statistics into metrics array\nconst workflowStats = $input.all()[0].json;\nconst leadStats = $input.all()[1].json;\nconst docStats = $input.all()[2].json;\nconst taskStats = $input.all()[3].json;\nconst dlqStats = $input.all()[4].json;\nconst systemStats = $input.all()[5].json;\n\nconst metrics = [\n  { metric_name: 'workflow_executions_total', metric_value: workflowStats.total_executions || 0, metric_unit: 'count', tags: { type: 'workflow' } },\n  { metric_name: 'workflow_executions_success', metric_value: workflowStats.successful || 0, metric_unit: 'count', tags: { type: 'workflow', status: 'success' } },\n  { metric_name: 'workflow_executions_failed', metric_value: workflowStats.failed || 0, metric_unit: 'count', tags: { type: 'workflow', status: 'failed' } },\n  { metric_name: 'avg_execution_time_ms', metric_value: workflowStats.avg_duration_ms || 0, metric_unit: 'ms', tags: { type: 'performance' } },\n  { metric_name: 'min_execution_time_ms', metric_value: workflowStats.min_duration_ms || 0, metric_unit: 'ms', tags: { type: 'performance' } },\n  { metric_name: 'max_execution_time_ms', metric_value: workflowStats.max_duration_ms || 0, metric_unit: 'ms', tags: { type: 'performance' } },\n  { metric_name: 'leads_total', metric_value: leadStats.total_leads || 0, metric_unit: 'count', tags: { type: 'business', entity: 'lead' } },\n  { metric_name: 'leads_new', metric_value: leadStats.new_leads || 0, metric_unit: 'count', tags: { type: 'business', entity: 'lead', status: 'new' } },\n  { metric_name: 'leads_enriched', metric_value: leadStats.enriched_leads || 0, metric_unit: 'count', tags: { type: 'business', entity: 'lead', status: 'enriched' } },\n  { metric_name: 'leads_routed', metric_value: leadStats.routed_leads || 0, metric_unit: 'count', tags: { type: 'business', entity: 'lead', status: 'routed' } },\n  { metric_name: 'documents_total', metric_value: docStats.total_docs || 0, metric_unit: 'count', tags: { type: 'business', entity: 'document' } },\n  { metric_name: 'documents_processing', metric_value: docStats.processing_docs || 0, metric_unit: 'count', tags: { type: 'business', entity: 'document', status: 'processing' } },\n  { metric_name: 'documents_valid', metric_value: docStats.valid_docs || 0, metric_unit: 'count', tags: { type: 'business', entity: 'document', status: 'valid' } },\n  { metric_name: 'documents_invalid', metric_value: docStats.invalid_docs || 0, metric_unit: 'count', tags: { type: 'business', entity: 'document', status: 'invalid' } },\n  { metric_name: 'tasks_total', metric_value: taskStats.total_tasks || 0, metric_unit: 'count', tags: { type: 'business', entity: 'task' } },\n  { metric_name: 'tasks_pending', metric_value: taskStats.pending_tasks || 0, metric_unit: 'count', tags: { type: 'business', entity: 'task', status: 'pending' } },\n  { metric_name: 'tasks_in_progress', metric_value: taskStats.in_progress_tasks || 0, metric_unit: 'count', tags: { type: 'business', entity: 'task', status: 'in_progress' } },\n  { metric_name: 'tasks_completed', metric_value: taskStats.completed_tasks || 0, metric_unit: 'count', tags: { type: 'business', entity: 'task', status: 'completed' } },\n  { metric_name: 'tasks_overdue', metric_value: taskStats.overdue_tasks || 0, metric_unit: 'count', tags: { type: 'business', entity: 'task', status: 'overdue' } },\n  { metric_name: 'dlq_total', metric_value: dlqStats.dlq_count || 0, metric_unit: 'count', tags: { type: 'system', queue: 'dead_letter' } },\n  { metric_name: 'dlq_retryable', metric_value: dlqStats.retryable_count || 0, metric_unit: 'count', tags: { type: 'system', queue: 'dead_letter', status: 'retryable' } },\n  { metric_name: 'dlq_failed', metric_value: dlqStats.failed_count || 0, metric_unit: 'count', tags: { type: 'system', queue: 'dead_letter', status: 'failed' } },\n  { metric_name: 'disk_usage_percent', metric_value: systemStats.disk_usage_percent || 0, metric_unit: 'percent', tags: { type: 'resource', resource: 'disk' } },\n  { metric_name: 'db_connections', metric_value: systemStats.db_connections || 0, metric_unit: 'count', tags: { type: 'resource', resource: 'database' } },\n  { metric_name: 'active_executions', metric_value: systemStats.active_executions || 0, metric_unit: 'count', tags: { type: 'resource', resource: 'execution' } }\n];\n\nreturn metrics.map(metric => ({ json: metric }));"
      },
      "id": "merge-metrics",
      "name": "Merge Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "metrics",
        "columns": "metric_name,metric_value,metric_unit,tags,recorded_at",
        "additionalFields": {}
      },
      "id": "insert-metrics",
      "name": "Insert Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1050, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "workflow",
              "value": "MONITOR_v1_Collect_Metrics"
            },
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "metrics_collected",
              "value": "={{ $json.length }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-completion",
      "name": "Log Completion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Workflow Statistics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Lead Statistics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Document Statistics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Task Statistics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get DLQ Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get System Statistics": {
      "main": [
        [
          {
            "node": "Merge Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Statistics": {
      "main": [
        [
          {
            "node": "Get System Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Statistics": {
      "main": [
        [
          {
            "node": "Get System Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document Statistics": {
      "main": [
        [
          {
            "node": "Get System Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task Statistics": {
      "main": [
        [
          {
            "node": "Get System Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DLQ Statistics": {
      "main": [
        [
          {
            "node": "Get System Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Metrics": {
      "main": [
        [
          {
            "node": "Insert Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Metrics": {
      "main": [
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}