Murphy System/archive/artifacts/uploaded_files/workflows/monitor_v1/MONITOR_v1_Process_Errors.json
{
  "name": "MONITOR_v1_Process_Errors",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "errors",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "monitor-v1-process-errors"
    },
    {
      "parameters": {
        "jsCode": "// Extract error data from webhook payload\nconst errorData = $input.all()[0].json;\n\n// Validate required fields\nconst requiredFields = ['client_id', 'workflow_id', 'error_type', 'error_message', 'error_severity', 'error_category'];\nconst missingFields = requiredFields.filter(field => !errorData[field]);\n\nif (missingFields.length > 0) {\n  return [{\n    json: {\n      success: false,\n      error: `Missing required fields: ${missingFields.join(', ')}`\n    }\n  }];\n}\n\n// Determine error severity\nconst severity = errorData.error_severity.toLowerCase();\nconst category = errorData.error_category.toLowerCase();\n\n// Create error record\nconst errorRecord = {\n  client_id: parseInt(errorData.client_id),\n  workflow_id: errorData.workflow_id,\n  execution_id: errorData.execution_id || null,\n  error_type: errorData.error_type,\n  error_message: errorData.error_message,\n  error_stack: errorData.error_stack || null,\n  error_severity: ['critical', 'high', 'medium', 'low'].includes(severity) ? severity : 'medium',\n  error_category: ['validation', 'network', 'api', 'database', 'system', 'business', 'other'].includes(category) ? category : 'other',\n  context: errorData.context ? JSON.stringify(errorData.context) : '{}',\n  occurred_at: new Date().toISOString(),\n  resolved: false,\n  resolved_at: null,\n  resolution_notes: null\n};\n\nreturn [{ json: errorRecord }];"
      },
      "id": "validate-error",
      "name": "Validate and Normalize Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "errors",
        "columns": "client_id,workflow_id,execution_id,error_type,error_message,error_stack,error_severity,error_category,context,occurred_at,resolved,resolved_at,resolution_notes",
        "additionalFields": {}
      },
      "id": "insert-error",
      "name": "Insert Error Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "critical-condition",
              "leftValue": "={{ $json.error_severity }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "high-condition",
              "leftValue": "={{ $json.error_severity }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-severity",
      "name": "Check Error Severity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Create alert for critical/high severity errors\nconst error = $input.all()[0].json;\n\nconst alert = {\n  client_id: error.client_id,\n  alert_type: 'critical_error',\n  alert_severity: error.error_severity,\n  alert_title: `Critical Error in ${error.workflow_id}`,\n  alert_message: `${error.error_type}: ${error.error_message}`,\n  source_workflow: error.workflow_id,\n  source_entity_type: 'error',\n  source_entity_id: error.id,\n  metadata: JSON.stringify({\n    error_id: error.id,\n    error_type: error.error_type,\n    error_category: error.error_category,\n    occurred_at: error.occurred_at\n  }),\n  triggered_at: new Date().toISOString(),\n  acknowledged: false,\n  acknowledged_by: null,\n  acknowledged_at: null,\n  notification_channels: JSON.stringify(['email', 'slack'])\n};\n\nreturn [{ json: alert }];"
      },
      "id": "create-alert",
      "name": "Create Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "alerts",
        "columns": "client_id,alert_type,alert_severity,alert_title,alert_message,source_workflow,source_entity_type,source_entity_id,metadata,triggered_at,acknowledged,acknowledged_by,acknowledged_at,notification_channels",
        "additionalFields": {}
      },
      "id": "insert-alert",
      "name": "Insert Alert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1250, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, error_id: $node[&quot;Insert Error Record&quot;].json[&quot;id&quot;], message: 'Error logged successfully' } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, error_id: $node[&quot;Insert Error Record&quot;].json[&quot;id&quot;], alert_id: $node[&quot;Insert Alert&quot;].json[&quot;id&quot;], message: 'Error logged and alert created' } }}"
      },
      "id": "respond-with-alert",
      "name": "Respond With Alert",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1450, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate and Normalize Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Normalize Error": {
      "main": [
        [
          {
            "node": "Insert Error Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Error Record": {
      "main": [
        [
          {
            "node": "Check Error Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error Severity": {
      "main": [
        [
          {
            "node": "Create Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Alert": {
      "main": [
        [
          {
            "node": "Insert Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Alert": {
      "main": [
        [
          {
            "node": "Respond With Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}