Murphy System/archive/artifacts/uploaded_files/workflows/docs_v1/DOCS_v1_Validate_Data.json
{
  "name": "DOCS_v1_Validate_Data",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT d.document_id, d.client_id, d.document_uuid, d.original_filename, d.category, d.status, de.result_data, de.confidence_score FROM documents d LEFT JOIN document_extractions de ON d.document_id = de.document_id WHERE d.status = 'extracted' ORDER BY d.priority DESC, d.received_at ASC LIMIT 15;",
        "options": {}
      },
      "id": "fetch-extracted-docs",
      "name": "Fetch Extracted Documents",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Load validation rules based on document category and client\nconst document = $input.first().json;\n\nconst category = document.category || 'other';\nconst clientId = document.client_id;\nconst extractedData = document.result_data || {};\nconst confidence = document.confidence_score || 0.7;\n\n// Define validation rules per category\nconst validationRules = {\n  invoice: {\n    requiredFields: ['invoice_number', 'date', 'total_amount'],\n    optionalFields: ['vendor', 'due_date', 'tax_amount'],\n    fieldValidation: {\n      invoice_number: { type: 'string', minLength: 3, maxLength: 50 },\n      date: { type: 'date', format: 'YYYY-MM-DD' },\n      total_amount: { type: 'number', min: 0, max: 1000000 }\n    },\n    businessRules: [\n      { name: 'due_date_after_invoice_date', check: (data) => !data.due_date || new Date(data.due_date) >= new Date(data.date) }\n    ]\n  },\n  \n  contract: {\n    requiredFields: ['contract_number', 'start_date'],\n    optionalFields: ['parties', 'end_date', 'value'],\n    fieldValidation: {\n      contract_number: { type: 'string', minLength: 5 },\n      start_date: { type: 'date' }\n    },\n    businessRules: []\n  },\n  \n  resume: {\n    requiredFields: ['email'],\n    optionalFields: ['name', 'phone', 'skills', 'experience_years'],\n    fieldValidation: {\n      email: { type: 'email' },\n      phone: { type: 'string', pattern: /^[\\d\\s-+()]{10,}$/ }\n    },\n    businessRules: []\n  },\n  \n  receipt: {\n    requiredFields: ['total'],\n    optionalFields: ['date', 'vendor', 'items'],\n    fieldValidation: {\n      total: { type: 'number', min: 0 }\n    },\n    businessRules: []\n  },\n  \n  default: {\n    requiredFields: [],\n    optionalFields: ['text_content'],\n    fieldValidation: {},\n    businessRules: []\n  }\n};\n\n// Get rules for this category\nconst rules = validationRules[category] || validationRules.default;\n\n// Prepare validation data\nconst validationData = {\n  document_id: document.document_id,\n  document_uuid: document.document_uuid,\n  client_id: clientId,\n  original_filename: document.original_filename,\n  category: category,\n  extracted_data: extractedData,\n  confidence_score: confidence,\n  validation_rules: rules,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: validationData }];"
      },
      "id": "load-validation-rules",
      "name": "Load Validation Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate extracted data against rules\nconst data = $input.first().json;\nconst extractedData = data.extracted_data || {};\nconst rules = data.validation_rules;\n\nlet validationResults = {\n  is_valid: true,\n  errors: [],\n  warnings: [],\n  field_validations: {},\n  business_rule_validations: [],\n  overall_score: 0\n};\n\n// Check required fields\nrules.requiredFields.forEach(field => {\n  if (!extractedData[field]) {\n    validationResults.errors.push(`Missing required field: ${field}`);\n    validationResults.is_valid = false;\n    validationResults.field_validations[field] = {\n      passed: false,\n      error: 'Field is required'\n    };\n  } else {\n    validationResults.field_validations[field] = {\n      passed: true,\n      value: extractedData[field]\n    };\n  }\n});\n\n// Validate field formats and constraints\nrules.fieldValidation && Object.keys(rules.fieldValidation).forEach(field => {\n  const value = extractedData[field];\n  const validation = rules.fieldValidation[field];\n  \n  if (value !== undefined && value !== null) {\n    let fieldPassed = true;\n    let fieldError = '';\n    \n    // Type validation\n    if (validation.type === 'number') {\n      if (isNaN(parseFloat(value))) {\n        fieldPassed = false;\n        fieldError = `Field ${field} must be a number`;\n      } else {\n        const numValue = parseFloat(value);\n        if (validation.min !== undefined && numValue < validation.min) {\n          fieldPassed = false;\n          fieldError = `Field ${field} must be at least ${validation.min}`;\n        }\n        if (validation.max !== undefined && numValue > validation.max) {\n          fieldPassed = false;\n          fieldError = `Field ${field} must be at most ${validation.max}`;\n        }\n      }\n    } else if (validation.type === 'email') {\n      const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n      if (!emailRegex.test(value)) {\n        fieldPassed = false;\n        fieldError = `Field ${field} must be a valid email`;\n      }\n    } else if (validation.type === 'string') {\n      if (validation.minLength && value.length < validation.minLength) {\n        fieldPassed = false;\n        fieldError = `Field ${field} must be at least ${validation.minLength} characters`;\n      }\n      if (validation.maxLength && value.length > validation.maxLength) {\n        fieldPassed = false;\n        fieldError = `Field ${field} must be at most ${validation.maxLength} characters`;\n      }\n    } else if (validation.type === 'date') {\n      const date = new Date(value);\n      if (isNaN(date.getTime())) {\n        fieldPassed = false;\n        fieldError = `Field ${field} must be a valid date`;\n      }\n    }\n    \n    if (validation.pattern && !validation.pattern.test(value)) {\n      fieldPassed = false;\n      fieldError = `Field ${field} does not match required pattern`;\n    }\n    \n    validationResults.field_validations[field] = {\n      passed: fieldPassed,\n      value: value,\n      error: fieldPassed ? null : fieldError\n    };\n    \n    if (!fieldPassed) {\n      validationResults.errors.push(fieldError);\n      validationResults.is_valid = false;\n    }\n  }\n});\n\n// Check optional fields (warnings only)\nrules.optionalFields && rules.optionalFields.forEach(field => {\n  if (!extractedData[field]) {\n    validationResults.warnings.push(`Optional field ${field} is missing`);\n  }\n});\n\n// Run business rules\nrules.businessRules && rules.businessRules.forEach(rule => {\n  try {\n    const rulePassed = rule.check(extractedData);\n    validationResults.business_rule_validations.push({\n      name: rule.name,\n      passed: rulePassed\n    });\n    if (!rulePassed) {\n      validationResults.errors.push(`Business rule failed: ${rule.name}`);\n      validationResults.is_valid = false;\n    }\n  } catch (error) {\n    validationResults.warnings.push(`Could not evaluate business rule: ${rule.name}`);\n  }\n});\n\n// Calculate overall validation score\nconst totalChecks = Object.keys(validationResults.field_validations).length + \n                   validationResults.business_rule_validations.length;\nconst passedChecks = Object.values(validationResults.field_validations).filter(v => v.passed).length +\n                     validationResults.business_rule_validations.filter(v => v.passed).length;\nvalidationResults.overall_score = totalChecks > 0 ? (passedChecks / totalChecks) * 100 : 0;\n\n// Combine with extraction confidence\nvalidationResults.combined_score = (validationResults.overall_score * 0.6) + (data.confidence_score * 40);\n\nconst result = {\n  document_id: data.document_id,\n  document_uuid: data.document_uuid,\n  client_id: data.client_id,\n  validation_results: validationResults,\n  validated_at: new Date().toISOString()\n};\n\nreturn [{ json: result }];"
      },
      "id": "validate-extracted-data",
      "name": "Validate Extracted Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-valid",
              "leftValue": "={{ $json.validation_results.is_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-valid-check",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE documents SET validation_status = 'passed', validation_score = $1, validation_errors = NULL, validation_warnings = $2, status = 'validated', updated_at = NOW() WHERE document_id = $3;",
        "options": {}
      },
      "id": "mark-validated",
      "name": "Mark as Validated",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1250, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE documents SET validation_status = 'failed', validation_score = $1, validation_errors = $2, validation_warnings = $3, status = 'validation_failed', updated_at = NOW() WHERE document_id = $4;",
        "options": {}
      },
      "id": "mark-validation-failed",
      "name": "Mark Validation Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1250, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO document_extractions (document_id, client_id, extraction_type, status, result_data, confidence_score, created_at, updated_at) VALUES ($1, $2, 'validation', 'completed', $3, $4, NOW(), NOW());",
        "options": {}
      },
      "id": "log-validation",
      "name": "Log Validation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-for-log",
      "name": "Merge for Log",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (client_id, workflow_name, workflow_id, execution_id, status, input_data, output_data, started_at, updated_at) VALUES ($1, $2, $3, $4, 'completed', $5, $6, NOW(), NOW());",
        "options": {}
      },
      "id": "log-execution",
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1850, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Extracted Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Extracted Documents": {
      "main": [
        [
          {
            "node": "Load Validation Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Validation Rules": {
      "main": [
        [
          {
            "node": "Validate Extracted Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Extracted Data": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Mark as Validated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Validation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Validated": {
      "main": [
        [
          {
            "node": "Log Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Validation Failed": {
      "main": [
        [
          {
            "node": "Log Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Validation": {
      "main": [
        [
          {
            "node": "Merge for Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge for Log": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "tag-docs-v1",
      "name": "DOCS_v1"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}