Murphy System/archive/artifacts/uploaded_files/workflows/docs_v1/DOCS_v1_Classify_Docs.json
{
  "name": "DOCS_v1_Classify_Docs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT document_id, client_id, document_uuid, original_filename, storage_path, mime_type, document_type, status, metadata FROM documents WHERE status = 'uploaded' ORDER BY received_at ASC LIMIT 20;",
        "options": {}
      },
      "id": "fetch-uploaded-docs",
      "name": "Fetch Uploaded Documents",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "fileName": "={{ $json.storage_path }}",
        "options": {}
      },
      "id": "read-file-content",
      "name": "Read File Content",
      "type": "n8n-nodes-base.readFile",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract text from document based on file type\nconst document = $input.first().json;\nconst binaryData = $input.first().binary;\n\nlet extractedText = '';\nconst mimeType = document.mime_type;\n\n// For text-based files, read content directly\nif (mimeType === 'text/plain' || mimeType === 'application/json' || mimeType === 'application/xml' || mimeType === 'text/csv') {\n  if (binaryData && binaryData.data) {\n    extractedText = binaryData.data.toString('utf-8').substring(0, 10000); // Limit to 10KB for classification\n  }\n}\n// For images and PDFs, in production we would use OCR\n// For this implementation, we'll use filename and metadata as fallback\nelse {\n  extractedText = document.original_filename || '';\n  if (document.metadata) {\n    extractedText += ' ' + JSON.stringify(document.metadata);\n  }\n}\n\n// Get client classification rules from config\n// This would typically come from client_config table\nconst classificationRules = {\n  categories: ['invoice', 'contract', 'resume', 'report', 'form', 'receipt', 'letter', 'other'],\n  priorityLevels: ['low', 'medium', 'high', 'urgent'],\n  confidenceThreshold: 0.7\n};\n\n// Prepare data for LLM classification\nconst classificationData = {\n  document_id: document.document_id,\n  document_uuid: document.document_uuid,\n  client_id: document.client_id,\n  filename: document.original_filename,\n  mime_type: document.mime_type,\n  document_type: document.document_type,\n  content_preview: extractedText,\n  classification_rules: classificationRules,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: classificationData }];"
      },
      "id": "prepare-classification-data",
      "name": "Prepare Classification Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Simulate LLM classification\n// In production, this would call OpenAI or similar API\nconst data = $input.first().json;\nconst filename = data.filename.toLowerCase();\nconst content = data.content_preview.toLowerCase();\n\n// Simple keyword-based classification (fallback if LLM not available)\nlet category = 'other';\nlet confidence = 0.6;\nlet priority = 'medium';\nlet tags = [];\nlet keywords = [];\n\n// Classification logic\nif (filename.includes('invoice') || content.includes('invoice') || content.includes('bill')) {\n  category = 'invoice';\n  confidence = 0.85;\n  priority = 'high';\n  tags = ['financial', 'payment'];\n  keywords = ['invoice', 'bill', 'amount', 'total', 'due'];\n} else if (filename.includes('contract') || content.includes('contract') || content.includes('agreement')) {\n  category = 'contract';\n  confidence = 0.88;\n  priority = 'high';\n  tags = ['legal', 'binding'];\n  keywords = ['contract', 'agreement', 'terms', 'conditions'];\n} else if (filename.includes('resume') || filename.includes('cv') || content.includes('experience') || content.includes('education')) {\n  category = 'resume';\n  confidence = 0.90;\n  priority = 'medium';\n  tags = ['hr', 'hiring'];\n  keywords = ['resume', 'experience', 'education', 'skills'];\n} else if (filename.includes('report') || content.includes('report') || content.includes('analysis')) {\n  category = 'report';\n  confidence = 0.75;\n  priority = 'medium';\n  tags = ['business', 'analysis'];\n  keywords = ['report', 'analysis', 'summary', 'findings'];\n} else if (filename.includes('form') || content.includes('application') || content.includes('signature')) {\n  category = 'form';\n  confidence = 0.72;\n  priority = 'low';\n  tags = ['administrative'];\n  keywords = ['form', 'application', 'signature', 'fields'];\n} else if (filename.includes('receipt') || content.includes('receipt') || content.includes('purchase')) {\n  category = 'receipt';\n  confidence = 0.80;\n  priority = 'low';\n  tags = ['financial', 'expense'];\n  keywords = ['receipt', 'purchase', 'amount', 'date'];\n} else if (filename.includes('letter') || content.includes('dear') || content.includes('sincerely')) {\n  category = 'letter';\n  confidence = 0.68;\n  priority = 'low';\n  tags = ['correspondence'];\n  keywords = ['letter', 'dear', 'sincerely', 'regards'];\n}\n\n// Add content-based tags\nif (content.includes('confidential') || content.includes('private')) {\n  tags.push('confidential');\n  if (priority !== 'urgent') priority = 'high';\n}\nif (content.includes('urgent') || content.includes('asap')) {\n  priority = 'urgent';\n}\n\n// Classification result\nconst result = {\n  document_id: data.document_id,\n  document_uuid: data.document_uuid,\n  client_id: data.client_id,\n  classification: {\n    category: category,\n    confidence: confidence,\n    priority: priority,\n    tags: tags,\n    keywords: keywords\n  },\n  classification_method: 'keyword_based', // In production: 'llm_based'\n  classified_at: new Date().toISOString()\n};\n\nreturn [{ json: result }];"
      },
      "id": "classify-document",
      "name": "Classify Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "notesInFlow": true,
      "notes": "Replace with LLM API call in production (OpenAI, Anthropic, etc.)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE documents SET category = $1, confidence_score = $2, priority = $3, tags = $4, keywords = $5, status = 'classified', updated_at = NOW() WHERE document_id = $6;",
        "options": {}
      },
      "id": "update-document",
      "name": "Update Document",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1250, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO document_extractions (document_id, client_id, extraction_type, status, result_data, confidence_score, created_at, updated_at) VALUES ($1, $2, 'classification', 'completed', $3, $4, NOW(), NOW());",
        "options": {}
      },
      "id": "log-classification",
      "name": "Log Classification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-for-log",
      "name": "Merge for Log",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (client_id, workflow_name, workflow_id, execution_id, status, input_data, output_data, started_at, updated_at) VALUES ($1, $2, $3, $4, 'completed', $5, $6, NOW(), NOW());",
        "options": {}
      },
      "id": "log-execution",
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1850, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Uploaded Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Uploaded Documents": {
      "main": [
        [
          {
            "node": "Read File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File Content": {
      "main": [
        [
          {
            "node": "Prepare Classification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Classification Data": {
      "main": [
        [
          {
            "node": "Classify Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Document": {
      "main": [
        [
          {
            "node": "Update Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Document": {
      "main": [
        [
          {
            "node": "Log Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Classification": {
      "main": [
        [
          {
            "node": "Merge for Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge for Log": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "tag-docs-v1",
      "name": "DOCS_v1"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}