Murphy System/workflows/tasks_v1/TASKS_v1_Generate_Reports.json
{
  "name": "TASKS_v1_Generate_Reports",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name FROM clients WHERE active = true"
      },
      "id": "get-active-clients",
      "name": "Get Active Clients",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*) as total_tasks,\n  COUNT(CASE WHEN status = 'pending' THEN 1 END) as pending_tasks,\n  COUNT(CASE WHEN status = 'in_progress' THEN 1 END) as in_progress_tasks,\n  COUNT(CASE WHEN status = 'completed' THEN 1 END) as completed_tasks,\n  COUNT(CASE WHEN status = 'cancelled' THEN 1 END) as cancelled_tasks,\n  COUNT(CASE WHEN priority = 'urgent' THEN 1 END) as urgent_tasks,\n  COUNT(CASE WHEN priority = 'high' THEN 1 END) as high_priority_tasks,\n  COUNT(CASE WHEN priority = 'medium' THEN 1 END) as medium_priority_tasks,\n  COUNT(CASE WHEN priority = 'low' THEN 1 END) as low_priority_tasks,\n  COUNT(CASE WHEN due_date < NOW() AND status != 'completed' THEN 1 END) as overdue_tasks,\n  COUNT(CASE WHEN assigned_to IS NULL THEN 1 END) as unassigned_tasks\nFROM tasks\nWHERE client_id = {{ $json.id }}\n  AND created_at >= NOW() - INTERVAL '7 days'"
      },
      "id": "get-task-stats",
      "name": "Get Task Statistics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  t.status,\n  COUNT(*) as count,\n  ROUND(AVG(EXTRACT(EPOCH FROM (\n    CASE \n      WHEN t.completed_at IS NOT NULL THEN t.completed_at\n      WHEN t.cancelled_at IS NOT NULL THEN t.cancelled_at\n      ELSE NOW()\n    END - t.created_at\n  )) / 3600), 2) as avg_hours_to_complete\nFROM tasks t\nWHERE t.client_id = {{ $node[&quot;Get Active Clients&quot;].json.id }}\n  AND t.created_at >= NOW() - INTERVAL '7 days'\nGROUP BY t.status\nORDER BY \n  CASE t.status\n    WHEN 'pending' THEN 1\n    WHEN 'in_progress' THEN 2\n    WHEN 'completed' THEN 3\n    WHEN 'cancelled' THEN 4\n    ELSE 5\n  END"
      },
      "id": "get-status-breakdown",
      "name": "Get Status Breakdown",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [850, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  tm.name as team_member,\n  COUNT(*) as assigned_tasks,\n  COUNT(CASE WHEN t.status = 'completed' THEN 1 END) as completed_tasks,\n  COUNT(CASE WHEN t.status = 'in_progress' THEN 1 END) as in_progress_tasks,\n  COUNT(CASE WHEN t.status = 'pending' THEN 1 END) as pending_tasks,\n  ROUND(AVG(CASE \n    WHEN t.status = 'completed' THEN \n      EXTRACT(EPOCH FROM (t.completed_at - t.assigned_at)) / 3600\n    ELSE NULL\n  END), 2) as avg_completion_hours,\n  COUNT(CASE WHEN t.due_date < NOW() AND t.status != 'completed' THEN 1 END) as overdue_tasks\nFROM task_assignments ta\nJOIN tasks t ON ta.task_id = t.id\nJOIN team_members tm ON ta.team_member_id = tm.id\nWHERE t.client_id = {{ $node[&quot;Get Active Clients&quot;].json.id }}\n  AND ta.assigned_at >= NOW() - INTERVAL '7 days'\nGROUP BY tm.id, tm.name\nORDER BY assigned_tasks DESC"
      },
      "id": "get-team-performance",
      "name": "Get Team Performance",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1050, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  t.priority,\n  COUNT(*) as count,\n  COUNT(CASE WHEN t.status = 'completed' THEN 1 END) as completed,\n  COUNT(CASE WHEN t.due_date < NOW() AND t.status != 'completed' THEN 1 END) as overdue,\n  ROUND(COUNT(CASE WHEN t.status = 'completed' THEN 1 END) * 100.0 / NULLIF(COUNT(*), 0), 2) as completion_rate\nFROM tasks t\nWHERE t.client_id = {{ $node[&quot;Get Active Clients&quot;].json.id }}\n  AND t.created_at >= NOW() - INTERVAL '7 days'\nGROUP BY t.priority\nORDER BY \n  CASE t.priority\n    WHEN 'urgent' THEN 1\n    WHEN 'high' THEN 2\n    WHEN 'medium' THEN 3\n    WHEN 'low' THEN 4\n    ELSE 5\n  END"
      },
      "id": "get-priority-breakdown",
      "name": "Get Priority Breakdown",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1250, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Generate comprehensive report\nconst client = $node[&quot;Get Active Clients&quot;].json;\nconst taskStats = $node[&quot;Get Task Statistics&quot;].json[0];\nconst statusBreakdown = $node[&quot;Get Status Breakdown&quot;].json;\nconst teamPerformance = $node[&quot;Get Team Performance&quot;].json;\nconst priorityBreakdown = $node[&quot;Get Priority Breakdown&quot;].json;\n\nconst reportData = {\n  report_id: `task_report_${client.id}_${Date.now()}`,\n  client_id: client.id,\n  client_name: client.name,\n  report_type: 'daily_task_summary',\n  report_period: '7_days',\n  generated_at: $now.toISO(),\n  summary: {\n    total_tasks: taskStats.total_tasks,\n    completion_rate: taskStats.total_tasks > 0 \n      ? ((taskStats.completed_tasks / taskStats.total_tasks) * 100).toFixed(2) + '%'\n      : '0%',\n    overdue_tasks: taskStats.overdue_tasks,\n    unassigned_tasks: taskStats.unassigned_tasks\n  },\n  task_statistics: taskStats,\n  status_breakdown: statusBreakdown,\n  team_performance: teamPerformance,\n  priority_breakdown: priorityBreakdown\n};\n\nreturn { json: reportData };"
      },
      "id": "generate-report",
      "name": "Generate Report",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "reports",
        "columns": "client_id, report_type, report_data, generated_at, status",
        "additionalFields": {
          "columnValues": "={{ {\n  &quot;client_id&quot;: $json.client_id,\n  &quot;report_type&quot;: $json.report_type,\n  &quot;report_data&quot;: JSON.stringify($json),\n  &quot;generated_at&quot;: $json.generated_at,\n  &quot;status&quot;: 'completed'\n} }}\n"
        }
      },
      "id": "insert-report",
      "name": "Insert Report",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1650, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "notifications",
        "columns": "client_id, type, title, message, recipient, status, priority, created_at",
        "additionalFields": {
          "columnValues": "={{ {\n  &quot;client_id&quot;: $json.client_id,\n  &quot;type&quot;: 'report_ready',\n  &quot;title&quot;: 'Daily Task Report Ready',\n  &quot;message&quot;: `Your daily task summary is ready. Total tasks: ${$json.summary.total_tasks}, Completion rate: ${$json.summary.completion_rate}, Overdue: ${$json.summary.overdue_tasks}`,\n  &quot;recipient&quot;: 'admin@example.com',\n  &quot;status&quot;: 'pending',\n  &quot;priority&quot;: 'low',\n  &quot;created_at&quot;: $json.generated_at\n} }}\n"
        }
      },
      "id": "create-notification",
      "name": "Create Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1850, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "workflow_executions",
        "columns": "workflow_id, execution_type, status, input_data, output_data, started_at, completed_at, error_message",
        "additionalFields": {
          "columnValues": "={{ {\n  &quot;workflow_id&quot;: 'TASKS_v1_Generate_Reports',\n  &quot;execution_type&quot;: 'scheduled',\n  &quot;status&quot;: 'success',\n  &quot;input_data&quot;: JSON.stringify($node[&quot;Get Active Clients&quot;].json),\n  &quot;output_data&quot;: JSON.stringify($node[&quot;Generate Report&quot;].json),\n  &quot;started_at&quot;: $now.toISO(),\n  &quot;completed_at&quot;: $now.toISO(),\n  &quot;error_message&quot;: null\n} }}\n"
        }
      },
      "id": "log-execution",
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [2050, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Clients": {
      "main": [
        [
          {
            "node": "Get Task Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task Statistics": {
      "main": [
        [
          {
            "node": "Get Status Breakdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status Breakdown": {
      "main": [
        [
          {
            "node": "Get Team Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Team Performance": {
      "main": [
        [
          {
            "node": "Get Priority Breakdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Priority Breakdown": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Insert Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Report": {
      "main": [
        [
          {
            "node": "Create Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notification": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "triggerCount": 1,
  "updatedAt": "2025-01-27T11:30:00.000Z",
  "versionId": "1"
}