Murphy System/archive/artifacts/uploaded_files/workflows/intake_v1/INTAKE_v1_Route_Leads.json
{
  "name": "INTAKE_v1_Route_Leads",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.lead_id, l.client_id, l.email, l.first_name, l.last_name, l.company, l.phone, l.source, l.status, l.lead_score, l.company_domain, l.company_industry, l.company_size, c.name as client_name FROM leads l JOIN clients c ON l.client_id = c.client_id WHERE l.status = 'enriched' ORDER BY l.lead_score DESC, l.created_at ASC LIMIT 50;",
        "options": {}
      },
      "id": "fetch-enriched-leads",
      "name": "Fetch Enriched Leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT config_key, config_value FROM client_config WHERE client_id = $1 AND config_key LIKE 'routing_%' ORDER BY config_key;",
        "options": {}
      },
      "id": "get-routing-config",
      "name": "Get Routing Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse routing configuration and determine destinations\nconst routingConfig = $input.all();\nconst lead = $input.first().json;\n\n// Initialize routing rules with defaults\nlet routingRules = {\n  destinations: [],\n  minScore: 0,\n  autoRoute: false\n};\n\n// Parse config values\nroutingConfig.forEach(config => {\n  const key = config.json.config_key;\n  const value = config.json.config_value;\n  \n  if (key === 'routing_destinations') {\n    routingRules.destinations = JSON.parse(value);\n  } else if (key === 'routing_min_score') {\n    routingRules.minScore = parseInt(value) || 0;\n  } else if (key === 'routing_auto') {\n    routingRules.autoRoute = value === 'true';\n  }\n});\n\n// Determine if lead should be routed\nconst shouldRoute = lead.lead_score >= routingRules.minScore && routingRules.autoRoute;\n\nreturn [{\n  json: {\n    lead: lead,\n    routingRules: routingRules,\n    shouldRoute: shouldRoute,\n    destinations: shouldRoute ? routingRules.destinations : []\n  }\n}];"
      },
      "id": "evaluate-routing-rules",
      "name": "Evaluate Routing Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-route",
              "leftValue": "={{ $json.shouldRoute }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-route-check",
      "name": "Should Route?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "loop",
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-destinations",
      "name": "Loop Destinations",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "// Route lead to specific destination\nconst lead = $input.first().json.lead;\nconst destination = $input.first().json.routingRules.destinations[$input.first().json.$index];\n\nconst destinationType = destination.type;\nconst destinationConfig = destination.config;\n\nlet result = {\n  lead_id: lead.lead_id,\n  destination_type: destinationType,\n  status: 'pending',\n  message: ''\n};\n\ntry {\n  switch(destinationType) {\n    case 'webhook':\n      // Prepare webhook payload\n      const webhookPayload = {\n        lead_id: lead.lead_id,\n        client_id: lead.client_id,\n        email: lead.email,\n        first_name: lead.first_name,\n        last_name: lead.last_name,\n        company: lead.company,\n        phone: lead.phone,\n        lead_score: lead.lead_score,\n        company_industry: lead.company_industry,\n        company_size: lead.company_size\n      };\n      \n      // This would be an actual HTTP request in production\n      result.message = 'Webhook call would be made to: ' + destinationConfig.url;\n      result.payload = webhookPayload;\n      break;\n      \n    case 'email':\n      result.message = 'Email would be sent to: ' + destinationConfig.recipient;\n      result.recipient = destinationConfig.recipient;\n      break;\n      \n    case 'slack':\n      result.message = 'Slack message would be sent to: ' + destinationConfig.channel;\n      result.channel = destinationConfig.channel;\n      break;\n      \n    default:\n      result.status = 'failed';\n      result.message = 'Unknown destination type: ' + destinationType;\n  }\n  \n  if (result.status !== 'failed') {\n    result.status = 'sent';\n  }\n  \n} catch (error) {\n  result.status = 'failed';\n  result.message = error.message;\n}\n\nreturn [{ json: result }];"
      },
      "id": "route-to-destination",
      "name": "Route to Destination",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO lead_routing (lead_id, client_id, destination_type, destination_config, routing_status, sent_at, created_at, updated_at) VALUES ($1, $2, $3, $4, $5, NOW(), NOW(), NOW());",
        "options": {}
      },
      "id": "log-routing",
      "name": "Log Routing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1650, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET status = 'routed', updated_at = NOW() WHERE lead_id = $1;",
        "options": {}
      },
      "id": "mark-routed",
      "name": "Mark as Routed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1850, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET status = 'pending_manual_review', updated_at = NOW() WHERE lead_id = $1;",
        "options": {}
      },
      "id": "mark-pending-review",
      "name": "Mark Pending Review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1250, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-for-log",
      "name": "Merge for Log",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (client_id, workflow_name, workflow_id, execution_id, status, input_data, output_data, started_at, updated_at) VALUES ($1, $2, $3, $4, 'completed', $5, $6, NOW(), NOW());",
        "options": {}
      },
      "id": "log-execution",
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2250, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Enriched Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Enriched Leads": {
      "main": [
        [
          {
            "node": "Get Routing Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Routing Config": {
      "main": [
        [
          {
            "node": "Evaluate Routing Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Routing Rules": {
      "main": [
        [
          {
            "node": "Should Route?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Route?": {
      "main": [
        [
          {
            "node": "Loop Destinations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Pending Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Destinations": {
      "main": [
        [
          {
            "node": "Route to Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Destination": {
      "main": [
        [
          {
            "node": "Log Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Routing": {
      "main": [
        [
          {
            "node": "Mark as Routed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Routed": {
      "main": [
        [
          {
            "node": "Merge for Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Pending Review": {
      "main": [
        [
          {
            "node": "Merge for Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge for Log": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "tag-intake-v1",
      "name": "INTAKE_v1"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}