Murphy System/archive/artifacts/uploaded_files/workflows/intake_v1/INTAKE_v1_Enrich_Leads.json
{
  "name": "INTAKE_v1_Enrich_Leads",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT lead_id, client_id, email, first_name, last_name, company, phone, source, status, lead_score FROM leads WHERE status = 'normalized' ORDER BY lead_score DESC, created_at ASC LIMIT 50;",
        "options": {}
      },
      "id": "fetch-normalized-leads",
      "name": "Fetch Normalized Leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT lead_id, client_id, email FROM leads WHERE email = $1 AND client_id = $2 AND lead_id != $3 LIMIT 1;",
        "options": {}
      },
      "id": "check-duplicates",
      "name": "Check Duplicates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [650, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-duplicate",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-duplicate-check",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET status = 'duplicate', updated_at = NOW() WHERE lead_id = $1;",
        "options": {}
      },
      "id": "mark-duplicate",
      "name": "Mark as Duplicate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1050, 100],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.neverbounce.com/v4/single/check",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  &quot;api_key&quot;: &quot;{{ $credentials.neverbounceApiKey }}&quot;,\n  &quot;email&quot;: &quot;{{ $json.email }}&quot;\n}",
        "options": {}
      },
      "id": "validate-email",
      "name": "Validate Email (NeverBounce)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "notesInFlow": true,
      "notes": "Replace with actual NeverBounce API call"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-email",
              "leftValue": "={{ $json.result }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "email-valid-check",
      "name": "Email Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "=https://company.clearbit.com/v2/companies/find?domain={{ $json.email.split('@')[1] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.clearbitApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "lookup-company",
      "name": "Lookup Company (Clearbit)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 300],
      "notesInFlow": true,
      "notes": "Replace with actual Clearbit API call"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET company = COALESCE($1, company), company_domain = $2, company_industry = $3, company_size = $4, company_revenue = $5, updated_at = NOW() WHERE lead_id = $6;",
        "options": {}
      },
      "id": "update-lead-with-company",
      "name": "Update Lead with Company Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1650, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO lead_enrichment (lead_id, client_id, enrichment_type, status, result_data, created_at, updated_at) VALUES ($1, $2, 'email_validation', 'completed', $3, NOW(), NOW());",
        "options": {}
      },
      "id": "log-email-validation",
      "name": "Log Email Validation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1650, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO lead_enrichment (lead_id, client_id, enrichment_type, status, result_data, created_at, updated_at) VALUES ($1, $2, 'company_lookup', 'completed', $3, NOW(), NOW());",
        "options": {}
      },
      "id": "log-company-lookup",
      "name": "Log Company Lookup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1850, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET status = 'enriched', updated_at = NOW() WHERE lead_id = $1;",
        "options": {}
      },
      "id": "mark-enriched",
      "name": "Mark as Enriched",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2050, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-for-log",
      "name": "Merge for Log",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (client_id, workflow_name, workflow_id, execution_id, status, input_data, output_data, started_at, updated_at) VALUES ($1, $2, $3, $4, 'completed', $5, $6, NOW(), NOW());",
        "options": {}
      },
      "id": "log-execution",
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET status = 'invalid_email', updated_at = NOW() WHERE lead_id = $1;",
        "options": {}
      },
      "id": "mark-invalid-email",
      "name": "Mark Invalid Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1450, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO lead_enrichment (lead_id, client_id, enrichment_type, status, error_message, created_at, updated_at) VALUES ($1, $2, 'email_validation', 'failed', $3, NOW(), NOW());",
        "options": {}
      },
      "id": "log-email-failure",
      "name": "Log Email Validation Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1650, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (client_id, workflow_name, workflow_id, execution_id, status, error_message, input_data, started_at, updated_at) VALUES ($1, $2, $3, $4, 'completed', $5, $6, NOW(), NOW());",
        "options": {}
      },
      "id": "log-execution-failed",
      "name": "Log Execution (Failed)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1850, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Normalized Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Normalized Leads": {
      "main": [
        [
          {
            "node": "Check Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicates": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Mark as Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Email (NeverBounce)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Duplicate": {
      "main": [
        [
          {
            "node": "Log Execution (Failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email (NeverBounce)": {
      "main": [
        [
          {
            "node": "Email Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Valid?": {
      "main": [
        [
          {
            "node": "Lookup Company (Clearbit)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Invalid Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Company (Clearbit)": {
      "main": [
        [
          {
            "node": "Update Lead with Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead with Company Data": {
      "main": [
        [
          {
            "node": "Log Email Validation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Company Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Validation": {
      "main": [
        [
          {
            "node": "Merge for Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Company Lookup": {
      "main": [
        [
          {
            "node": "Mark as Enriched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Enriched": {
      "main": [
        [
          {
            "node": "Merge for Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge for Log": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Invalid Email": {
      "main": [
        [
          {
            "node": "Log Email Validation Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Validation Failure": {
      "main": [
        [
          {
            "node": "Log Execution (Failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "tag-intake-v1",
      "name": "INTAKE_v1"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}