Murphy System/uploaded_files/workflows/intake_v1/INTAKE_v1_Normalize_Data.json
{
  "name": "INTAKE_v1_Normalize_Data",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT lead_id, client_id, email, first_name, last_name, company, phone, source, status, lead_score, raw_data, created_at FROM leads WHERE status = 'new' ORDER BY created_at ASC LIMIT 100;",
        "options": {}
      },
      "id": "fetch-new-leads",
      "name": "Fetch New Leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "normalize-email",
              "name": "email_normalized",
              "value": "={{ $json.email.toLowerCase().trim() }}"
            },
            {
              "id": "normalize-first-name",
              "name": "first_name_normalized",
              "value": "={{ $json.first_name ? $json.first_name.trim().toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') : null }}"
            },
            {
              "id": "normalize-last-name",
              "name": "last_name_normalized",
              "value": "={{ $json.last_name ? $json.last_name.trim().toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') : null }}"
            },
            {
              "id": "normalize-company",
              "name": "company_normalized",
              "value": "={{ $json.company ? $json.company.trim() : null }}"
            },
            {
              "id": "normalize-phone",
              "name": "phone_normalized",
              "value": "={{ $json.phone ? $json.phone.replace(/[^0-9+]/g, '') : null }}"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-fields",
      "name": "Normalize Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "score-email",
              "name": "email_score",
              "value": "={{ $json.email_normalized && $json.email_normalized.includes('@') && $json.email_normalized.includes('.') ? 10 : 0 }}"
            },
            {
              "id": "score-name",
              "name": "name_score",
              "value": "={{ ($json.first_name_normalized ? 5 : 0) + ($json.last_name_normalized ? 5 : 0) }}"
            },
            {
              "id": "score-company",
              "name": "company_score",
              "value": "={{ $json.company_normalized ? 10 : 0 }}"
            },
            {
              "id": "score-phone",
              "name": "phone_score",
              "value": "={{ $json.phone_normalized && $json.phone_normalized.length >= 10 ? 5 : 0 }}"
            },
            {
              "id": "calculate-total-score",
              "name": "lead_score_normalized",
              "value": "={{ $json.email_score + $json.name_score + $json.company_score + $json.phone_score }}"
            }
          ]
        },
        "options": {}
      },
      "id": "calculate-score",
      "name": "Calculate Score",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET email = $1, first_name = $2, last_name = $3, company = $4, phone = $5, lead_score = $6, status = 'normalized', updated_at = NOW() WHERE lead_id = $7;",
        "options": {}
      },
      "id": "update-lead",
      "name": "Update Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1050, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-for-log",
      "name": "Merge for Log",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (client_id, workflow_name, workflow_id, execution_id, status, input_data, output_data, started_at, updated_at) VALUES ($1, $2, $3, $4, 'completed', $5, $6, NOW(), NOW());",
        "options": {}
      },
      "id": "log-execution",
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch New Leads": {
      "main": [
        [
          {
            "node": "Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Fields": {
      "main": [
        [
          {
            "node": "Calculate Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Score": {
      "main": [
        [
          {
            "node": "Update Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead": {
      "main": [
        [
          {
            "node": "Merge for Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge for Log": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "tag-intake-v1",
      "name": "INTAKE_v1"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}