Murphy System/archive/artifacts/uploaded_files/workflows/security_v1/SECURITY_v1_Manage_Credentials.json
{
  "name": "SECURITY_v1_Manage_Credentials",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "security-v1/manage-credentials",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "security-manage-credentials"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM clients WHERE id = {{ $json.body.client_id }} AND active = true"
      },
      "id": "validate-client",
      "name": "Validate Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[0] }}",
              "value2": ""
            }
          ]
        }
      },
      "id": "check-client-valid",
      "name": "Check Client Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT key_id FROM encryption_keys WHERE key_name = 'default_master_key' AND active = true LIMIT 1"
      },
      "id": "get-encryption-key",
      "name": "Get Encryption Key",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [850, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[0] }}",
              "value2": ""
            }
          ]
        }
      },
      "id": "check-key-exists",
      "name": "Check Key Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pgp_sym_encrypt('{{ $json.body.credentials_json | toString }}', '{{ $node[&quot;Webhook Trigger&quot;].json.body.encryption_key }}') as encrypted_data"
      },
      "id": "encrypt-credentials",
      "name": "Encrypt Credentials",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1250, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": "client_integrations",
        "updateKey": "client_id,integration_name",
        "updateData": "={{ {\n  &quot;client_id&quot;: $node[&quot;Webhook Trigger&quot;].json.body.client_id,\n  &quot;integration_name&quot;: $node[&quot;Webhook Trigger&quot;].json.body.integration_name,\n  &quot;integration_type&quot;: $node[&quot;Webhook Trigger&quot;].json.body.integration_type || 'api',\n  &quot;auth_type&quot;: $node[&quot;Webhook Trigger&quot;].json.body.auth_type || 'api_key',\n  &quot;credentials&quot;: {},\n  &quot;encrypted_credentials&quot;: $node[&quot;Encrypt Credentials&quot;].json[0].encrypted_data,\n  &quot;encryption_key_id&quot;: $node[&quot;Get Encryption Key&quot;].json[0].key_id,\n  &quot;is_encrypted&quot;: true,\n  &quot;enabled&quot;: $node[&quot;Webhook Trigger&quot;].json.body.enabled || true,\n  &quot;endpoint_url&quot;: $node[&quot;Webhook Trigger&quot;].json.body.endpoint_url || null,\n  &quot;webhook_url&quot;: $node[&quot;Webhook Trigger&quot;].json.body.webhook_url || null,\n  &quot;updated_at&quot;: $now.toISO()\n} }}\n"
      },
      "id": "store-credentials",
      "name": "Store Credentials",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1450, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "security_events",
        "columns": "event_type, event_category, severity, user_id, client_id, event_details, status, created_at",
        "additionalFields": {
          "columnValues": "={{ {\n  &quot;event_type&quot;: 'credentials_stored',\n  &quot;event_category&quot;: 'credential_management',\n  &quot;severity&quot;: 'info',\n  &quot;user_id&quot;: $node[&quot;Webhook Trigger&quot;].json.body.user_id || 'system',\n  &quot;client_id&quot;: $node[&quot;Webhook Trigger&quot;].json.body.client_id,\n  &quot;event_details&quot;: {\n    &quot;integration_name&quot;: $node[&quot;Webhook Trigger&quot;].json.body.integration_name,\n    &quot;integration_id&quot;: $node[&quot;Store Credentials&quot;].json[0].integration_id\n  },\n  &quot;status&quot;: 'success',\n  &quot;created_at&quot;: $now.toISO()\n} }}\n"
        }
      },
      "id": "log-security-event",
      "name": "Log Security Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1650, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  &quot;success&quot;: true,\n  &quot;message&quot;: &quot;Credentials stored successfully&quot;,\n  &quot;integration_id&quot;: $node[&quot;Store Credentials&quot;].json[0].integration_id,\n  &quot;is_encrypted&quot;: true\n} }}"
      },
      "id": "response-success",
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  &quot;success&quot;: false,\n  &quot;message&quot;: &quot;Invalid request&quot;,\n  &quot;error&quot;: &quot;validation_failed&quot;\n} }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "response-error",
      "name": "Response Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "security_events",
        "columns": "event_type, event_category, severity, user_id, event_details, status, created_at",
        "additionalFields": {
          "columnValues": "={{ {\n  &quot;event_type&quot;: 'credentials_store_failed',\n  &quot;event_category&quot;: 'credential_management',\n  &quot;severity&quot;: 'warning',\n  &quot;user_id&quot;: $node[&quot;Webhook Trigger&quot;].json.body.user_id || 'system',\n  &quot;event_details&quot;: {\n    &quot;error&quot;: &quot;validation_failed&quot;,\n    &quot;reason&quot;: &quot;Invalid client or encryption key&quot;\n  },\n  &quot;status&quot;: 'failed',\n  &quot;created_at&quot;: $now.toISO()\n} }}\n"
        }
      },
      "id": "log-error-event",
      "name": "Log Error Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1650, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Client": {
      "main": [
        [
          {
            "node": "Check Client Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Client Valid": {
      "main": [
        [
          {
            "node": "Get Encryption Key",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Encryption Key": {
      "main": [
        [
          {
            "node": "Check Key Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Key Exists": {
      "main": [
        [
          {
            "node": "Encrypt Credentials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encrypt Credentials": {
      "main": [
        [
          {
            "node": "Store Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Credentials": {
      "main": [
        [
          {
            "node": "Log Security Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Security Event": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Error": {
      "main": [
        [
          {
            "node": "Log Error Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "triggerCount": 1,
  "updatedAt": "2025-01-27T14:00:00.000Z",
  "versionId": "1"
}