Murphy System/archive/legacy_workspace/workflows/intake_v1/INTAKE_v1_Capture_Leads.json
{
  "name": "INTAKE_v1_Capture_Leads",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads/webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "intake-v1-capture-leads-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-client-id",
              "leftValue": "={{ $json.body.client_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-client-id",
      "name": "Validate Client ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT client_id, name, status, is_active FROM clients WHERE client_id = $1 AND is_active = true;",
        "options": {}
      },
      "id": "lookup-client",
      "name": "Lookup Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [650, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "client_id",
              "value": "={{ $json.body.client_id }}"
            },
            {
              "name": "source",
              "value": "webhook"
            },
            {
              "name": "trigger_type",
              "value": "webhook"
            }
          ]
        },
        "options": {}
      },
      "id": "error-no-client",
      "name": "Error: No Client",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 400],
      "notesInFlow": true,
      "notes": "Client not found or inactive"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pack_id, is_enabled FROM client_packs WHERE client_id = $1 AND pack_id = 'INTAKE_v1' AND is_enabled = true;",
        "options": {}
      },
      "id": "check-pack-enabled",
      "name": "Check Pack Enabled",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "client_id",
              "value": "={{ $json.body.client_id }}"
            },
            {
              "name": "source",
              "value": "webhook"
            },
            {
              "name": "trigger_type",
              "value": "webhook"
            },
            {
              "name": "error_code",
              "value": "PACK_NOT_ENABLED"
            }
          ]
        },
        "options": {}
      },
      "id": "error-pack-disabled",
      "name": "Error: Pack Disabled",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [850, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (client_id, email, first_name, last_name, company, phone, source, status, lead_score, raw_data, created_at, updated_at) VALUES ($1, $2, $3, $4, $5, $6, $7, 'new', 0, $8, NOW(), NOW()) RETURNING lead_id, client_id, email, first_name, last_name, company, phone, source, status, lead_score, created_at;",
        "options": {}
      },
      "id": "insert-lead",
      "name": "Insert Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (client_id, workflow_name, workflow_id, execution_id, status, input_data, output_data, started_at, updated_at) VALUES ($1, $2, $3, $4, 'completed', $5, $6, NOW(), NOW());",
        "options": {}
      },
      "id": "log-execution",
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1250, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  &quot;success&quot;: true,\n  &quot;lead_id&quot;: &quot;={{ $json.lead_id }}&quot;,\n  &quot;email&quot;: &quot;={{ $json.email }}&quot;,\n  &quot;status&quot;: &quot;new&quot;,\n  &quot;created_at&quot;: &quot;={{ $json.created_at }}&quot;\n}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_executions (client_id, workflow_name, workflow_id, execution_id, status, error_message, input_data, started_at, updated_at) VALUES ($1, $2, $3, $4, 'failed', $5, $6, NOW(), NOW());",
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [850, 550],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  &quot;success&quot;: false,\n  &quot;error&quot;: &quot;{{ $json.error_code || 'VALIDATION_ERROR' }}&quot;,\n  &quot;message&quot;: &quot;Invalid client ID or pack not enabled&quot;\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 550]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  &quot;success&quot;: false,\n  &quot;error&quot;: &quot;MISSING_CLIENT_ID&quot;,\n  &quot;message&quot;: &quot;client_id is required in request body&quot;\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "missing-client-response",
      "name": "Missing Client Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 550]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Client ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Client ID": {
      "main": [
        [
          {
            "node": "Lookup Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Missing Client Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Client": {
      "main": [
        [
          {
            "node": "Check Pack Enabled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: No Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: No Client": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pack Enabled": {
      "main": [
        [
          {
            "node": "Insert Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Pack Disabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Pack Disabled": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Lead": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Execution": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-1-15T10:00:00.000Z",
      "id": "tag-intake-v1",
      "name": "INTAKE_v1"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}