Murphy System/workflows/monitor_v1/MONITOR_v1_Generate_Alerts.json
{
  "name": "MONITOR_v1_Generate_Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  client_id,\n  workflow_name,\n  COUNT(*) as total_executions,\n  COUNT(CASE WHEN status = 'failed' THEN 1 END) as failed_executions,\n  ROUND((COUNT(CASE WHEN status = 'failed' THEN 1 END)::float / NULLIF(COUNT(*), 0)) * 100, 2) as error_rate\nFROM workflow_executions\nWHERE started_at >= NOW() - INTERVAL '1 hour'\nGROUP BY client_id, workflow_name\nHAVING COUNT(CASE WHEN status = 'failed' THEN 1 END) > 0"
      },
      "id": "check-error-rates",
      "name": "Check Error Rates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [450, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "high-error-rate",
              "leftValue": "={{ $json.error_rate }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-high-error-rates",
      "name": "Filter High Error Rates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "jsCode": "// Generate alert for high error rate\nconst data = $input.all()[0].json;\n\nconst alert = {\n  client_id: data.client_id,\n  alert_type: 'high_error_rate',\n  alert_severity: data.error_rate > 20 ? 'critical' : 'high',\n  alert_title: `High Error Rate: ${data.workflow_name}`,\n  alert_message: `Workflow ${data.workflow_name} has ${data.error_rate}% error rate (${data.failed_executions} failures out of ${data.total_executions} executions in last hour)`,\n  source_workflow: data.workflow_name,\n  source_entity_type: 'workflow',\n  source_entity_id: null,\n  metadata: JSON.stringify({\n    total_executions: data.total_executions,\n    failed_executions: data.failed_executions,\n    error_rate: data.error_rate,\n    time_period: '1 hour'\n  }),\n  triggered_at: new Date().toISOString(),\n  acknowledged: false,\n  acknowledged_by: null,\n  acknowledged_at: null,\n  notification_channels: JSON.stringify(['email', 'slack'])\n};\n\nreturn [{ json: alert }];"
      },
      "id": "create-error-alert",
      "name": "Create Error Rate Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  c.id as client_id,\n  COUNT(t.id) as overdue_count,\n  MAX(t.due_date) as latest_overdue\nFROM tasks t\nJOIN clients c ON t.client_id = c.id\nWHERE t.status != 'completed'\n  AND t.due_date < NOW()\n  AND NOT EXISTS (\n    SELECT 1 FROM alerts a\n    WHERE a.client_id = c.id\n      AND a.alert_type = 'sla_overdue'\n      AND a.triggered_at > NOW() - INTERVAL '1 hour'\n  )\nGROUP BY c.id\nHAVING COUNT(t.id) > 0"
      },
      "id": "check-overdue-tasks",
      "name": "Check Overdue Tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [450, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate alert for overdue tasks\nconst data = $input.all()[0].json;\n\nconst alert = {\n  client_id: data.client_id,\n  alert_type: 'sla_overdue',\n  alert_severity: data.overdue_count > 10 ? 'critical' : 'high',\n  alert_title: `SLA Overdue: ${data.overdue_count} Tasks`,\n  alert_message: `${data.overdue_count} tasks are overdue. Latest due date: ${data.latest_overdue}`,\n  source_workflow: 'TASKS_v1_Monitor_SLA',\n  source_entity_type: 'tasks',\n  source_entity_id: null,\n  metadata: JSON.stringify({\n    overdue_count: data.overdue_count,\n    latest_overdue: data.latest_overdue\n  }),\n  triggered_at: new Date().toISOString(),\n  acknowledged: false,\n  acknowledged_by: null,\n  acknowledged_at: null,\n  notification_channels: JSON.stringify(['email', 'slack'])\n};\n\nreturn [{ json: alert }];"
      },
      "id": "create-overdue-alert",
      "name": "Create Overdue Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) as dlq_count,\n  COUNT(CASE WHEN created_at >= NOW() - INTERVAL '1 hour' THEN 1 END) as new_dlq_count,\n  COUNT(CASE WHEN retry_attempt >= max_retry_attempts THEN 1 END) as permanently_failed_count\nFROM dead_letter_queue"
      },
      "id": "check-dlq",
      "name": "Check DLQ Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [450, 600],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "high-dlq-condition",
              "leftValue": "={{ $json.dlq_count }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-dlq-threshold",
      "name": "Check DLQ Threshold",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 600]
    },
    {
      "parameters": {
        "jsCode": "// Generate alert for high DLQ count\nconst data = $input.all()[0].json;\n\nconst alert = {\n  client_id: 1, // System-wide alert\n  alert_type: 'high_dlq_count',\n  alert_severity: data.dlq_count > 100 ? 'critical' : 'high',\n  alert_title: `High DLQ Count: ${data.dlq_count} Items`,\n  alert_message: `Dead Letter Queue has ${data.dlq_count} items (${data.new_dlq_count} new in last hour, ${data.permanently_failed_count} permanently failed)`,\n  source_workflow: 'INTAKE_v1_DLQ_Processor',\n  source_entity_type: 'dlq',\n  source_entity_id: null,\n  metadata: JSON.stringify({\n    dlq_count: data.dlq_count,\n    new_dlq_count: data.new_dlq_count,\n    permanently_failed_count: data.permanently_failed_count\n  }),\n  triggered_at: new Date().toISOString(),\n  acknowledged: false,\n  acknowledged_by: null,\n  acknowledged_at: null,\n  notification_channels: JSON.stringify(['email', 'slack'])\n};\n\nreturn [{ json: alert }];"
      },
      "id": "create-dlq-alert",
      "name": "Create DLQ Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 600]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "alerts",
        "columns": "client_id,alert_type,alert_severity,alert_title,alert_message,source_workflow,source_entity_type,source_entity_id,metadata,triggered_at,acknowledged,acknowledged_by,acknowledged_at,notification_channels",
        "additionalFields": {}
      },
      "id": "insert-alerts",
      "name": "Insert Alerts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1050, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-config",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "workflow",
              "value": "MONITOR_v1_Generate_Alerts"
            },
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "alerts_created",
              "value": "={{ $json.length }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-completion",
      "name": "Log Completion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Error Rates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Overdue Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check DLQ Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter High Error Rates": {
      "main": [
        [
          {
            "node": "Create Error Rate Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Error Rate Alert": {
      "main": [
        [
          {
            "node": "Insert Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Overdue Tasks": {
      "main": [
        [
          {
            "node": "Create Overdue Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Overdue Alert": {
      "main": [
        [
          {
            "node": "Insert Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DLQ Threshold": {
      "main": [
        [
          {
            "node": "Create DLQ Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create DLQ Alert": {
      "main": [
        [
          {
            "node": "Insert Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Alerts": {
      "main": [
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}